ejercicios_clase_XSD/Ejercicio1/esquema01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="pelicula">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="titulo" type="xs:string"/>
                        <xs:element name="minutos" type="xs:integer"/>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>
